<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A2313</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleIntelTGLGraphicsFramebuffer</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleIntelTGLGraphicsFramebuffer 16.0.32 10</string>
	<key>CFBundleIdentifier</key>
	<string>com.xxxxx.driver.AppleIntelTGLGraphicsFramebuffer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.xxxxx.driver.AppleIntelTGLGraphicsFramebuffer</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>16.0.32</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>16.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12A121</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.16</string>
	<key>DTSDKBuild</key>
	<string>20A2313</string>
	<key>DTSDKName</key>
	<string>macosx10.16internal</string>
	<key>DTXcode</key>
	<string>1200</string>
	<key>DTXcodeBuild</key>
	<string>12A121</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleIntelFramebufferController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.xxxxx.driver.AppleIntelTGLGraphicsFramebuffer</string>
			<key>Debug</key>
			<dict>
				<key>LogEnable</key>
				<true/>
				<key>LogHeader</key>
				<dict>
					<key>File</key>
					<true/>
					<key>Function</key>
					<true/>
					<key>Line</key>
					<true/>
					<key>LogLevel</key>
					<true/>
					<key>Module</key>
					<true/>
					<key>StackLevel</key>
					<false/>
					<key>Stamp</key>
					<false/>
					<key>Tag</key>
					<true/>
					<key>ThreadId</key>
					<false/>
				</dict>
				<key>LogLevel</key>
				<dict>
					<key>ASMF</key>
					<integer>7</integer>
					<key>AUUC</key>
					<integer>7</integer>
					<key>AUX</key>
					<integer>15</integer>
					<key>BRINGUP</key>
					<integer>31</integer>
					<key>DEFAULT</key>
					<integer>31</integer>
					<key>DIAGS</key>
					<integer>31</integer>
					<key>DISPLAY</key>
					<integer>31</integer>
					<key>DSC</key>
					<integer>31</integer>
					<key>HDCP</key>
					<integer>7</integer>
					<key>LINK_TRAINING</key>
					<integer>31</integer>
					<key>MEI</key>
					<integer>7</integer>
					<key>MEI_VERBOSE</key>
					<integer>7</integer>
					<key>METRICS</key>
					<integer>31</integer>
					<key>MMIO</key>
					<integer>7</integer>
					<key>PANEL</key>
					<integer>7</integer>
					<key>PAVP</key>
					<integer>7</integer>
					<key>PLANE</key>
					<integer>7</integer>
					<key>PORT</key>
					<integer>31</integer>
					<key>POWER</key>
					<integer>31</integer>
					<key>POWER_VERBOSE</key>
					<integer>7</integer>
					<key>POWER_WELL</key>
					<integer>31</integer>
					<key>POWER_WELL_VERBOSE</key>
					<integer>7</integer>
					<key>SCALER</key>
					<integer>7</integer>
					<key>SIM</key>
					<integer>15</integer>
					<key>SYSCTL</key>
					<integer>7</integer>
					<key>TRANSACTION</key>
					<integer>7</integer>
					<key>VRR</key>
					<integer>7</integer>
				</dict>
				<key>LogListener</key>
				<dict>
					<key>Printf</key>
					<dict/>
				</dict>
			</dict>
			<key>FBCControl</key>
			<dict>
				<key>Compression</key>
				<integer>0</integer>
			</dict>
			<key>FBMemControl</key>
			<integer>11</integer>
			<key>FeatureControl</key>
			<dict>
				<key>4KVideoDownscale</key>
				<integer>1</integer>
				<key>ASFU</key>
				<integer>1</integer>
				<key>ASFUThresholdFPS</key>
				<integer>50</integer>
				<key>ASRDisable</key>
				<integer>0</integer>
				<key>CachedEDIDDisable</key>
				<integer>0</integer>
				<key>CoarsePowerGatingSelect</key>
				<integer>4</integer>
				<key>DPDownSpreadDisable</key>
				<integer>0</integer>
				<key>DPM</key>
				<integer>1</integer>
				<key>DSCCapReporting</key>
				<integer>0</integer>
				<key>DSCSupport</key>
				<integer>0</integer>
				<key>DisableApertureAccess</key>
				<integer>0</integer>
				<key>DisableHigherWMLevels</key>
				<integer>0</integer>
				<key>DisableInternalPanel</key>
				<integer>0</integer>
				<key>DynamicRingTables</key>
				<integer>0</integer>
				<key>EDPDownSpreadDisable</key>
				<integer>0</integer>
				<key>Enable8K</key>
				<integer>1</integer>
				<key>EnableDeepDisplay</key>
				<integer>0</integer>
				<key>EnableMultipipeScaler</key>
				<integer>1</integer>
				<key>EnablePlaneRotation</key>
				<integer>1</integer>
				<key>EnableTconScaler</key>
				<integer>0</integer>
				<key>FECSupport</key>
				<integer>0</integer>
				<key>FastDisplayDetectDisable</key>
				<integer>0</integer>
				<key>ForceAccelBacked</key>
				<integer>0</integer>
				<key>GFMPPFM</key>
				<integer>2</integer>
				<key>GPU420Support</key>
				<integer>1</integer>
				<key>GPUInterruptHandling</key>
				<integer>1</integer>
				<key>Gamma</key>
				<integer>1</integer>
				<key>IPCEnable</key>
				<integer>1</integer>
				<key>NV12Enable</key>
				<integer>1</integer>
				<key>OptimizeForTTNFAftersec</key>
				<integer>30</integer>
				<key>P010Enable</key>
				<integer>1</integer>
				<key>PowerStates</key>
				<integer>1</integer>
				<key>RCxEIModeEnable</key>
				<integer>1</integer>
				<key>RenderStandby</key>
				<integer>1</integer>
				<key>SetRC6Voltage</key>
				<integer>0</integer>
				<key>SliceSDEnableOld</key>
				<integer>0</integer>
				<key>SupportDynamicCDClk</key>
				<integer>1</integer>
				<key>SupportPSRwithExternalDisplay</key>
				<integer>1</integer>
				<key>TTNFBuffDistribution</key>
				<integer>0</integer>
				<key>TransitionAmount</key>
				<integer>14</integer>
				<key>VRRSupport</key>
				<integer>0</integer>
				<key>YTiling</key>
				<integer>1</integer>
				<key>transcapenable</key>
				<integer>1</integer>
			</dict>
			<key>IOClass</key>
			<string>AppleIntelFramebufferController</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x12348086</string>
			<key>IOProbeScore</key>
			<integer>80000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>PMTControl</key>
			<dict>
				<key>DisplayEngineCounting</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.16</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 1999-2013 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.AppleGraphicsDeviceControl</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.2</string>
		<key>com.apple.iokit.IOAcceleratorFamily2</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.3</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOReportFamily</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0</string>
		<key>com.StezzaPilot.NootedGreen</key>
		<string>1.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
