<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleIntelTGLGraphics</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleIntelTGLGraphics 16.0.32 10</string>
	<key>CFBundleIdentifier</key>
	<string>com.xxxxx.driver.AppleIntelTGLGraphics</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Apple Embedded Graphics Kernel Extension</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>16.0.32</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>16.0.0</string>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>GPUCompanionBundles</key>
	<array>
		<string>AppleIntelTGLGraphicsGLDriver.bundle</string>
		<string>AppleIntelTGLGraphicsMTLDriver.bundle</string>
		<string>AppleIntelTGLGraphicsVADriver.bundle</string>
		<string>AppleIntelTGLGraphicsVAME.bundle</string>
	</array>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Gen7</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.xxxxx.driver.AppleIntelTGLGraphics</string>
			<key>Debug</key>
			<dict>
				<key>LogEnable</key>
				<true/>
				<key>LogHeader</key>
				<dict>
					<key>File</key>
					<false/>
					<key>Function</key>
					<true/>
					<key>Indent</key>
					<true/>
					<key>Line</key>
					<false/>
					<key>LogLevel</key>
					<true/>
					<key>Module</key>
					<true/>
					<key>StackLevel</key>
					<false/>
					<key>Stamp</key>
					<false/>
					<key>Tag</key>
					<false/>
					<key>ThreadId</key>
					<false/>
				</dict>
				<key>LogLevel</key>
				<dict>
					<key>ACCEL</key>
					<integer>3</integer>
					<key>AUB</key>
					<integer>3</integer>
					<key>BLIT</key>
					<integer>3</integer>
					<key>BRIDGE</key>
					<integer>3</integer>
					<key>CHANNEL</key>
					<integer>3</integer>
					<key>CL</key>
					<integer>3</integer>
					<key>CTX_2D</key>
					<integer>3</integer>
					<key>CTX_GL</key>
					<integer>3</integer>
					<key>DEFAULT</key>
					<integer>3</integer>
					<key>DISPLAY</key>
					<integer>3</integer>
					<key>EVENT</key>
					<integer>3</integer>
					<key>FB</key>
					<integer>3</integer>
					<key>FENCE</key>
					<integer>3</integer>
					<key>FORCEWAKE</key>
					<integer>3</integer>
					<key>GC</key>
					<integer>3</integer>
					<key>GCOBJ</key>
					<integer>3</integer>
					<key>GST</key>
					<integer>3</integer>
					<key>GST_PER_CONTEXT</key>
					<integer>3</integer>
					<key>GUC</key>
					<integer>3</integer>
					<key>GUCLOG</key>
					<integer>3</integer>
					<key>GUCQ</key>
					<integer>3</integer>
					<key>HWCS</key>
					<integer>3</integer>
					<key>HWCTXT</key>
					<integer>3</integer>
					<key>LAYOUT</key>
					<integer>3</integer>
					<key>LOCK</key>
					<integer>3</integer>
					<key>MAPPING</key>
					<integer>3</integer>
					<key>MEM</key>
					<integer>3</integer>
					<key>OAPATCHING</key>
					<integer>3</integer>
					<key>PATCH</key>
					<integer>3</integer>
					<key>QUEUE</key>
					<integer>3</integer>
					<key>RC</key>
					<integer>3</integer>
					<key>RC_MEM</key>
					<integer>3</integer>
					<key>RESLIST</key>
					<integer>3</integer>
					<key>RESOURCE</key>
					<integer>3</integer>
					<key>RING</key>
					<integer>3</integer>
					<key>SCHED</key>
					<integer>3</integer>
					<key>SEMQ</key>
					<integer>3</integer>
					<key>SHAREDUSER</key>
					<integer>3</integer>
					<key>SURFACE</key>
					<integer>3</integer>
					<key>SYSCTL</key>
					<integer>3</integer>
					<key>TASK</key>
					<integer>3</integer>
					<key>TELEMETRY</key>
					<integer>3</integer>
					<key>TELEMETRY_CONFIG</key>
					<integer>3</integer>
					<key>TELEMETRY_KTRACE</key>
					<integer>3</integer>
					<key>TELEMETRY_MEMORY</key>
					<integer>3</integer>
					<key>TELEMETRY_REPORT</key>
					<integer>3</integer>
					<key>TELEMETRY_USAGE</key>
					<integer>3</integer>
					<key>TELEMETRY_WRITE_STATISTICS</key>
					<integer>3</integer>
					<key>TEXTURE</key>
					<integer>3</integer>
					<key>UTIL</key>
					<integer>3</integer>
				</dict>
				<key>LogListener</key>
				<dict>
					<key>Printf</key>
					<dict/>
				</dict>
			</dict>
			<key>Development</key>
			<dict>
				<key>AddressMode</key>
				<integer>64</integer>
				<key>AddressSpaceEnableMask</key>
				<integer>3</integer>
				<key>AllowIOSurfaceRenderCompression</key>
				<integer>1</integer>
				<key>CsbProcModeSelect</key>
				<integer>0</integer>
				<key>DisablePageFaultHandling</key>
				<integer>0</integer>
				<key>DisplaySurfaceInEDRAM</key>
				<integer>1</integer>
				<key>EUThrottle</key>
				<integer>0</integer>
				<key>EnableMultiContext</key>
				<integer>1</integer>
				<key>EnablePlaneRotation</key>
				<integer>0</integer>
				<key>EnablePreemption</key>
				<integer>1</integer>
				<key>ForceDisableEDRAM</key>
				<integer>0</integer>
				<key>GraphicsSchedulerSelect</key>
				<integer>0</integer>
				<key>MetalCoalesce</key>
				<integer>1</integer>
				<key>MultiForceWakeSelect</key>
				<integer>1</integer>
				<key>NewUtilizationAlgorithmEnable</key>
				<integer>1</integer>
				<key>PPGTT</key>
				<integer>1</integer>
				<key>PageTableMode</key>
				<integer>64</integer>
				<key>PanicOnGPUHang</key>
				<integer>0</integer>
				<key>PixelBackendThrottle</key>
				<integer>0</integer>
				<key>PreemptionDelayIntervalUS</key>
				<integer>160</integer>
				<key>PreemptionTimerIntervalUS</key>
				<integer>2000</integer>
				<key>RingSizeKB</key>
				<integer>32</integer>
				<key>SamplerDataFetchThrottle</key>
				<integer>0</integer>
				<key>SamplerPipeThrottle</key>
				<integer>0</integer>
				<key>SchedPmNotifyEnable</key>
				<integer>1</integer>
				<key>SchedThrottleCapMS</key>
				<integer>100</integer>
				<key>SchedulerFallbackOnFirmwareFail</key>
				<integer>1</integer>
				<key>SemaphoreWaitPoll</key>
				<integer>1</integer>
				<key>SeparateAddressSpace</key>
				<integer>1</integer>
				<key>SignalStampRange</key>
				<integer>1</integer>
				<key>SignalStampsPrimary</key>
				<integer>0</integer>
				<key>SingleChannelIndex</key>
				<integer>0</integer>
				<key>TelemetryDisable</key>
				<integer>0</integer>
				<key>WaitForComplete</key>
				<integer>0</integer>
			</dict>
			<key>IOAccelDisplayPipeCapabilities</key>
			<dict>
				<key>DisplayPipeSupported</key>
				<true/>
				<key>TransactionsSupported</key>
				<true/>
			</dict>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>ACCF0000-0000-0000-0000-000a2789904e</key>
				<string>IOAccelerator2D.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>IntelAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AppleIntelTGLGraphicsVADriver</string>
			<key>IOGLBundleName</key>
			<string>AppleIntelTGLGraphicsGLDriver</string>
			<key>IOGVABGRAEnc</key>
			<string>Gen10</string>
			<key>IOGVACodec</key>
			<string>Gen10</string>
			<key>IOGVAH264EncodeCapabilities</key>
			<dict>
				<key>VTQualityRating</key>
				<integer>50</integer>
				<key>VTRating</key>
				<integer>400</integer>
			</dict>
			<key>IOGVAHEVCDecodeCapabilities</key>
			<dict>
				<key>VTPerProfileDetails</key>
				<dict>
					<key>1</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>186</integer>
					</dict>
					<key>2</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>186</integer>
					</dict>
					<key>3</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>186</integer>
					</dict>
				</dict>
				<key>VTSupportedProfileArray</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
			</dict>
			<key>IOGVAHEVCEncodeCapabilities</key>
			<dict>
				<key>VTPerProfileDetails</key>
				<dict>
					<key>1</key>
					<dict>
						<key>VTMaxEncodeLevel</key>
						<integer>183</integer>
					</dict>
				</dict>
				<key>VTSupportedProfileArray</key>
				<array>
					<integer>1</integer>
				</array>
			</dict>
			<key>IOGVAScaler</key>
			<string>Gen10</string>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0xff208086</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>17301568</integer>
			<key>MetalPluginName</key>
			<string>AppleIntelTGLGraphicsMTLDriver</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 1999-2014 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOAcceleratorFamily2</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOSurface</key>
		<string>87.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
		<key>com.StezzaPilot.NootedGreen</key>
		<string>1.0.0</string>
	</dict>
</dict>
</plist>
